
<!DOCTYPE html lang="en-US">
{% load staticfiles %}
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Student Hunter</title>

<link rel='stylesheet' id='reset-css'   href="{% static 'css/reset.css' %}" type='text/css' media='all' />
<link rel='stylesheet' id='superfish-css'  href="{% static 'css/superfish.css' %}" type='text/css' media='all' />
<link rel='stylesheet' id='fontawsome-css'  href='css/font-awsome/css/font-awesome.css' type='text/css' media='all' />
<link rel='stylesheet' id='orbit-css-css'  href="{% static 'css/orbit.css' %}" type='text/css' media='all' />
<link rel='stylesheet' id='style-css'  href="{% static 'css/style.css' %}" type='text/css' media='all' />
<link rel='stylesheet' id='color-scheme-css'  href='css/color/green.css' type='text/css' media='all' />
<link rel="stylesheet" href="{% static 'css/zerogrid.css' %}" type="text/css" media="screen">
<link rel="stylesheet" href="{% static 'css/responsive.css' %}" type="text/css" media="screen">
{#    <link rel="stylesheet" href="{% static 'css/blog.css' %}">#}

<script type='text/javascript' src="{% static 'js/jquery.js' %}"></script>
<script type='text/javascript' src="{% static 'js/jquery-migrate.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/jquery.carouFredSel-6.2.1-packed.js' %}"></script>
<script type='text/javascript' src="{% static 'js/hoverIntent.js' %}"></script>
<script type='text/javascript' src="{% static 'js/superfish.js' %}"></script>
<script type='text/javascript' src="{% static 'js/orbit.min.js' %}"></script>
<script src="{% static "js/css3-mediaqueries.js" %}"></script>
<script type="text/javascript" language="javascript">
	$(function() {

		/* Start Carousel */
		$('#featured-posts').carouFredSel({
			auto: true,
					prev: '#prev2',
					next: '#next2',
		});
		/* End Carousel */


		/* Start Orbit Slider */
		$(window).load(function() {
			$('.post-gallery').orbit({
				animation: 'fade',
			});
		});
		/* End Orbit Slider */


		/* Start Super fish */
		jQuery(document).ready(function(){
			jQuery('ul.sf-menu').superfish({
				delay:         100,
				speed:         'fast',
				speedOut:      'fast',
			});
		});
		/* End Of Super fish */

	});
</script>
</head>

<body class="single single-post postid-49 single-format-standard">

	<!-- Start Header -->
    <div class="container zerogrid">
        <div class="col-full"><div class="wrap-col">
        	<div id="header-nav-container">

                    <a href="/">
                    <img src="{% static "images/logo.png" %}" id="logo" />
                    </a>

					<!-- Navigation Menu -->

	<ul class="sf-menu">
        <li class="menu-item"><a href="{% url 'emplist' %}">Компании</a></li>
        <li class="menu-item"><a href="{% url 'studlist' %}">Студенты</a></li>
	<li class="menu-item"><a href="blog.html">Контакты</a></li>
<li class="menu-item"><a href="#">Профиль</a>
</li>
                    <!-- End Navigation Menu -->

                    <div class="clear"></div>

            </div>
			</div>
        </div>
    <div class="clear"></div>
    </div>
    <div class="spacing-30"></div>
    <!-- End Header -->


    <!-- Start Main Container -->
    <div class="container zerogrid">

        <!-- Start Posts Container -->
        <div class="col-2-3" id="post-container">
        	<div class="wrap-col">



                	<!-- Start profile -->
            <div class="sprofile">
            	<div class="post-margin">


                <h4>{{ employ.name }}</h4>


                    <div class="clear"></div>
                </div>

            <div class="post-info">
              <div class="post-margin" style="padding-left: 0%">
                 {{ employ.desc }} </p>
              </div>
              <p><strong>Адрес: </strong> {{ employ.location }}</p>
              <p><strong>Контактный телефон: </strong>{{ employ.phone }}</p>
              <p><strong>Email: </strong>{{ employ.email }}</p>
            </div>



            <!-- Post Social -->
            <ul class="post-social">
              <li>
              <a href="blog.html" class="readmore">Предложенные задачи: 3</i></a>
              </li>

            </ul>
            <!-- End Post Social -->
            <div class="clear"></div>
            </div>





            <!-- End Profile -->


                    	<!-- Start Post Item -->
            <div class="post">
            	<div class="post-margin">



                <h4>PHP скрипт для управления файлами на сервере</h4>
                	<ul class="post-status">
                    <li><i class="fa fa-clock-o"></i>Май 13, 2018</li>
                    <li><i class="fa fa-folder-open-o"></i><a href="#" title="View all posts in Illustration" rel="category">IT и программирование"</a></li>
                    <li><i class="fa fa-comment-o"></i>Нет комментариев</li>
                    </ul>
                    <div class="clear"></div>
                </div>



            <div class="post-margin">
            <p>Написание простого скрипта для управления файлами на сервере и отображении каталогов и файлов на веб странице в таблице. </p>
<p>Функции скрипта.
1. Выведение каталогов и файлов в таблицу.
2. Сортировка файлов и каталогов
3.  Удаление каталогов с файлами по определенным критериям </p>
<p>Обязательно знание CentOS. управления правами на файлы и папки и умение администрировать.
Владение PHP на высоком уровне, так как файлов и  подкаталогов (которые нужно обрабатывать) в заданном каталоге более 1млн </p>

			<!-- Post Tags -->

                      <!-- End Post Tags -->

            </div>

            <!-- Post Social -->
            <ul class="post-social">


            <li>
            <a href="#" class="readmore">Узнать больше <i class="fa fa-arrow-circle-o-right"></i></a>
            </li>
            </ul>
            <!-- End Post Social -->
            
            <div class="clear"></div>
            </div>
            <!-- End Post Item -->


                <!-- Start Post Item -->
            <div class="post">
            	<div class="post-margin">


                <h4>Реализация алгоритма защиты сайта от хакерских атак (Rails)</h4>
                	<ul class="post-status">
                    <li><i class="fa fa-clock-o"></i>Май 10, 2018</li>
                    <li><i class="fa fa-folder-open-o"></i><a href="#" title="View all posts in Illustration" rel="category">IT и программирование"</a></li>
                    <li><i class="fa fa-comment-o"></i>Нет комментариев</li>
                    </ul>
                    <div class="clear"></div>
                </div>



            <div class="post-margin">
            <p>Необходимо реализовать защиту нашего веб-сервиса от хакерских атак. Проект использует API, которое вызывается с различных сайтов. API на Ruby on Rails, фронт на Vue, сервер Nginx.  </p>
<p>Выбранному исполнителю будет дано тестовое Rails-приложение, имеющее две формы (регистрация и обратная связь) которое нужно
  а) положить :)
  б) научить это приложение не ложиться, когда его ложат :) </p>
<p>Скрипт должен уметь посылать с ВНЕШНЕГО(!) ресурса:
  – 100500 валидных запросов на регистрацию.
  – 100500 сообщений в форму обратной связи. </p>

			<!-- Post Tags -->

                      <!-- End Post Tags -->

            </div>

            <!-- Post Social -->
            <ul class="post-social">


            <li>
            <a href="#" class="readmore">Узнать больше <i class="fa fa-arrow-circle-o-right"></i></a>
            </li>
            </ul>
            <!-- End Post Social -->

            <div class="clear"></div>
            </div>
            <!-- End Post Item -->





                <!-- Start Post Item -->
            <div class="post">
            	<div class="post-margin">


                <h4>Написать на C++ или C# программу расчета RLC-фильтров с GUIP</h4>
                	<ul class="post-status">
                    <li><i class="fa fa-clock-o"></i>Май 3, 2018</li>
                    <li><i class="fa fa-folder-open-o"></i><a href="#" title="View all posts in Illustration" rel="category">IT и программирование"</a></li>
                    <li><i class="fa fa-comment-o"></i>Нет комментариев</li>
                    </ul>
                    <div class="clear"></div>
                </div>



            <div class="post-margin">
            <p>Программа должна производить расчет ВЧ/НЧ RC-фильтра, ВЧ/НЧ RL-фильтра, полосового пропускающего/режекторного RLC-фильтра.  </p>
<p>Пользователь вводит R, C, вариант фильтра, запускает расчет и получает графики АЧХ и ФЧХ RC-фильтра.
Пользователь вводит R, L, вариант фильтра, запускает расчет и получает графики АЧХ и ФЧХ RL-фильтра.
Также должна быть возможность ввода вместо параметра R, L или C частоты среза АЧХ, при этом после запуска расчета, помимо вывода АЧХ и ФЧХ, расчитывается незаданный параметр (R, L или C).  </p>
<p>Аналогичная функциональность и для RLC-фильтра.
Кроме того, необходимо реализовать вывод схемы фильтра, с подписями номиналов элементов. </p>

			<!-- Post Tags -->

                      <!-- End Post Tags -->

            </div>

            <!-- Post Social -->
            <ul class="post-social">


            <li>
            <a href="#" class="readmore">Узнать больше <i class="fa fa-arrow-circle-o-right"></i></a>
            </li>
            </ul>
            <!-- End Post Social -->

            <div class="clear"></div>
            </div>
            <!-- End Post Item -->









        <div class="clear"></div>
		</div>
        </div>
        <!-- End Posts Container -->

        <!-- Start Sidebar -->
		<div class="col-1-3"><div class="wrap-col">

      <div class="widget-container"><h6 class="widget-title">Категории</h6>		<ul>
	<li class="cat-item cat-item-5"><a href="#" title="View all posts filed under Apps">Архитектура / интерьер</a>
</li>
	<li class="cat-item cat-item-3"><a href="#" title="View all posts filed under Illustration">Видео</a>
</li>
	<li class="cat-item cat-item-4"><a href="#" title="View all posts filed under Logo">Маркетинг и реклама</a>
</li>
<li class="cat-item cat-item-4"><a href="#" title="View all posts filed under Logo">Музыка / звук</a>
</li>
<li class="cat-item cat-item-4"><a href="#" title="View all posts filed under Logo">Дизайн</a>
</li>
<li class="cat-item cat-item-4"><a href="#" title="View all posts filed under Logo">IT и Программирование</a>
</li>
<li class="cat-item cat-item-4"><a href="#" title="View all posts filed under Logo">Фотография</a>
</li>
<li class="cat-item cat-item-4"><a href="#" title="View all posts filed under Logo">Инженерия</a>
</li>
<li class="cat-item cat-item-4"><a href="#" title="View all posts filed under Logo">Менеджмент</a>
</li>
		</ul>
{#    <div class="clear"></div></div><div class="widget-container"><h6 class="widget-title">Последние задачи</h6>	<!-- Start Widget -->#}
{#                    <ul class="widget-recent-posts">#}
{##}
{#                    <li>#}
{#                    <div class="post-image">#}
{#                    <div class="post-mask"></div>#}
{#                    <img width="70" height="70" src="img/HighRes-70x70.jpg" class="attachment-post-widget #"  />                </div>#}
{##}
{#                    <h6><a href="#">Подключить систему онлайн-оплаты на сайт на WP</a></h6>#}
{#                    <span>Ноябрь 02, 2018</span>#}
{#                    <div class="clear"></div>#}
{#                    </li>#}
{##}
{##}
{#                    <li>#}
{#                    <div class="post-image">#}
{#                    <div class="post-mask"></div>#}
{#                    <img width="70" height="70" src="img/one-more-beer-70x70.png" class="attachment-post-widget #"  />                </div>#}
{##}
{#                    <h6><a href="#">Перевод планов здания AUTOCAD</a></h6>#}
{#                    <span>Ноябрь 02, 2018</span>#}
{#                    <div class="clear"></div>#}
{#                    </li>#}
{##}
{##}
{#                    <li>#}
{#                    <div class="post-image">#}
{#                    <div class="post-mask"></div>#}
{#                    <img width="70" height="70" src="img/Port_Harbor1-70x70.jpg" class="attachment-post-widget #"  />                </div>#}
{##}
{#                    <h6><a href="#">НАСТРОИТЬ ANALYTICS GOOGLE</a></h6>#}
{#                    <span>Ноябрь 02, 2018</span>#}
{#                    <div class="clear"></div>#}
{#                    </li>#}
{##}
{##}
{#                    <li>#}
{#                    <div class="post-image">#}
{#                    <div class="post-mask"></div>#}
{#                    <img width="70" height="70" src="img/Timothy-J-Reynolds-2560x14401-70x70.jpg" class="attachment-post-widget #"  />                </div>#}
{##}
{#                    <h6><a href="#">РАЗРАБОТАТЬ СТАНОК</a></h6>#}
{#                    <span>Ноябрь 02, 2018</span>#}
{#                    <div class="clear"></div>#}
{#                    </li>#}
{##}
{##}
{#                    </ul>#}
   <!-- End Widget -->
<div class="clear"></div></div>
    <div class="clear"></div>
</div></div>        <!-- End Sidebar -->

    <div class="clear"></div>
    </div>
	<!-- End Main Container -->


    <!-- Start Footer -->
    <div class="spacing-30"></div>
    <div class="container zerogrid">
        <div id="footer-container" class="col-full">
        <div class="wrap-col">
            <!-- Footer Copyright -->
            <p>Copyrigh &copy; Cергеев Сергей</p>
            <!-- End Footer Copyright -->

            <!-- Footer Logo -->

            <!-- End Footer Logo -->

        <div class="clear"></div>
		</div>
        </div>
    </div>
    <!-- End Footer -->


</body>

</html>
