{#{% extends 'blog/base.html' %}#}
{##}
{#{% block content %}#}
{#    <h1>New post</h1>#}
{#    <form method="POST" class="post-form">{% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <button type="submit" class="save btn btn-default">Save</button>#}
{#    </form>#}
{#{% endblock %}#}







<!DOCTYPE html lang="en-US">
{% load staticfiles %}
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Euclid Free Responsive Html5 Themes</title>

<link rel='stylesheet' id='reset-css'   href="{% static 'css/reset.css' %}" type='text/css' media='all' />
<link rel='stylesheet' id='superfish-css'  href="{% static 'css/superfish.css' %}" type='text/css' media='all' />
<link rel='stylesheet' id='fontawsome-css'  href='css/font-awsome/css/font-awesome.css' type='text/css' media='all' />
<link rel='stylesheet' id='orbit-css-css'  href="{% static 'css/orbit.css' %}" type='text/css' media='all' />
<link rel='stylesheet' id='style-css'  href="{% static 'css/style.css' %}" type='text/css' media='all' />
<link rel='stylesheet' id='color-scheme-css'  href='css/color/green.css' type='text/css' media='all' />
<link rel="stylesheet" href="{% static 'css/zerogrid.css' %}" type="text/css" media="screen">
<link rel="stylesheet" href="{% static 'css/responsive.css' %}" type="text/css" media="screen">
<script type='text/javascript' src="{% static 'js/jquery.js' %}"></script>
<script type='text/javascript' src="{% static 'js/jquery-migrate.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/jquery.carouFredSel-6.2.1-packed.js' %}"></script>
<script type='text/javascript' src="{% static 'js/hoverIntent.js' %}"></script>
<script type='text/javascript' src="{% static 'js/superfish.js' %}"></script>
<script type='text/javascript' src="{% static 'js/orbit.min.js' %}"></script>
<script src="{% static "js/css3-mediaqueries.js" %}"></script>

<script type="text/javascript" language="javascript">
	$(function() {

		/* Start Carousel */
		$('#featured-posts').carouFredSel({
			auto: true,
					prev: '#prev2',
					next: '#next2',
		});
		/* End Carousel */


		/* Start Orbit Slider */
		$(window).load(function() {
			$('.post-gallery').orbit({
				animation: 'fade',
			});
		});
		/* End Orbit Slider */


		/* Start Super fish */
		jQuery(document).ready(function(){
			jQuery('ul.sf-menu').superfish({
				delay:         100,
				speed:         'fast',
				speedOut:      'fast',
			});
		});
		/* End Of Super fish */

	});
</script>
</head>

<body class="single single-post postid-49 single-format-standard">

	<!-- Start Header -->
    <div class="container zerogrid">
        <div class="col-full"><div class="wrap-col">
        	<div id="header-nav-container">

                    <a href="/">
                    <img src="{% static "images/logo.png" %}" id="logo" />
                    </a>

					<!-- Navigation Menu -->

	<ul class="sf-menu">
        <li class="menu-item"><a href="{% url 'emplist' %}">Компании</a></li>
        <li class="menu-item"><a href="{% url 'studlist' %}">Студенты</a></li>
	<li class="menu-item"><a href="blog.html">Контакты</a></li>
<li class="menu-item"><a href="#">Профиль</a>
</li>
                    <!-- End Navigation Menu -->

                    <div class="clear"></div>

            </div>
			</div>
        </div>
    <div class="clear"></div>
    </div>
    <div class="spacing-30"></div>
    <!-- End Header -->
    <!-- End Header -->


    <!-- Start Main Container -->
    <div class="container zerogrid">

        <!-- Start Posts Container -->
        <div class="col-2-3" id="post-container">
        	<div class="wrap-col">


			<!-- Comments -->
            <div class="comment-container">

            <h6 id="comment-header">Добавление задачи</h6>

            <ul class="comment-list">
                        </ul>


            <!-- Comment Form -->
            <div class="commen-form">
            								<div id="respond" class="comment-respond">
				<h3 id="reply-title" class="comment-reply-title"> <small><a rel="nofollow" id="cancel-comment-reply-link" href="#" style="display:none;">Cancel Reply</a></small></h3>
									<form action="" method="post" id="comment-form-container" class="comment-form">
																			<p class="comment-notes"></p>



                                        <form method="POST" class="post-form">{% csrf_token %}
{#                                        {{ form.as_p }}#}

<br>
                                            <label for="comment">Заголовок: </label>
                                            <br>
                                            <input id="title" type="text" name="title" value="{{ title }} " style="width: 100%; height: 30px;"  >


<br>
                                            <br>
                                            <label for="email">Категория: </label>
                                            <br>

                                            <select name="excategory" style="width: 100%; height: 30px;" required="" id="id_category">
                                                  <option value="" selected="">---------</option>
                                                  <option value="AR">Архитектура</option>
                                                  <option value="VI">Видео</option>
                                                  <option value="MA">Маркетинг</option>
                                                  <option value="MU">Музыка</option>
                                                    <option value="DE">Дизайн</option>
                                                    <option value="PR">IT и программирование</option>
                                                    <option value="PH">Фотография</option>
                                                    <option value="EN">Инженерия</option>
                                                <option value="MG">Менеджмент</option>

                                            </select>



                                                <br>
                                            <br>
                                                <label for="comment">Текст: </label>
                                            <br>
                                                <input id="text" type="text" name="text" value="{{ text }}" style="width: 100%; height: 150px;">





{#                                        <button type="submit" class="save btn btn-default">Save</button>#}
{#                                        </form>#}

                                        <p class="form-allowed-tags"></p>						<p class="form-submit">
							<input name="submit" type="submit" id="comment-submit" value="Опубликовать" />
							<input type='hidden' name='comment_post_ID' value='49' id='comment_post_ID' />
<input type='hidden' name='comment_parent' id='comment_parent' value='0' />
						</p>
											</form>
							</div><!-- #respond -->
			            <div class="clear"></div>
            </form>
            </div>
            <!-- End Comment Form -->

            </div>
            <!-- End Comments -->


        <div class="clear"></div>
		</div>
        </div>
        <!-- End Posts Container -->

        <!-- Start Sidebar -->
		<div class="col-1-3"><div class="wrap-col">
			<div class="widget-container"><h6 class="widget-title">Категории</h6>		<ul>
	<li class="cat-item cat-item-5"><a href="#" title="View all posts filed under Apps">Архитектура / интерьер</a>
</li>
	<li class="cat-item cat-item-3"><a href="#" title="View all posts filed under Illustration">Видео</a>
</li>
	<li class="cat-item cat-item-4"><a href="#" title="View all posts filed under Logo">Маркетинг и реклама</a>
</li>
<li class="cat-item cat-item-4"><a href="#" title="View all posts filed under Logo">Музыка / звук</a>
</li>
<li class="cat-item cat-item-4"><a href="#" title="View all posts filed under Logo">Дизайн</a>
</li>
<li class="cat-item cat-item-4"><a href="#" title="View all posts filed under Logo">IT и Программирование</a>
</li>
<li class="cat-item cat-item-4"><a href="#" title="View all posts filed under Logo">Фотография</a>
</li>
<li class="cat-item cat-item-4"><a href="#" title="View all posts filed under Logo">Инженерия</a>
</li>
<li class="cat-item cat-item-4"><a href="#" title="View all posts filed under Logo">Менеджмент</a>
</li>
		</ul>
{#    <div class="clear"></div></div><div class="widget-container"><h6 class="widget-title">Последние задачи</h6>	<!-- Start Widget -->#}
{#                    <ul class="widget-recent-posts">#}
{##}
{#                    <li>#}
{#                    <div class="post-image">#}
{#                    <div class="post-mask"></div>#}
{#                    <img width="70" height="70" src="img/HighRes-70x70.jpg" class="attachment-post-widget #"  />                </div>#}
{##}
{#                    <h6><a href="#">Подключить систему онлайн-оплаты на сайт на WP</a></h6>#}
{#                    <span>Ноябрь 02, 2018</span>#}
{#                    <div class="clear"></div>#}
{#                    </li>#}
{##}
{##}
{#                    <li>#}
{#                    <div class="post-image">#}
{#                    <div class="post-mask"></div>#}
{#                    <img width="70" height="70" src="img/one-more-beer-70x70.png" class="attachment-post-widget #"  />                </div>#}
{##}
{#                    <h6><a href="#">Перевод планов здания AUTOCAD</a></h6>#}
{#                    <span>Ноябрь 02, 2018</span>#}
{#                    <div class="clear"></div>#}
{#                    </li>#}
{##}
{##}
{#                    <li>#}
{#                    <div class="post-image">#}
{#                    <div class="post-mask"></div>#}
{#                    <img width="70" height="70" src="img/Port_Harbor1-70x70.jpg" class="attachment-post-widget #"  />                </div>#}
{##}
{#                    <h6><a href="#">НАСТРОИТЬ ANALYTICS GOOGLE</a></h6>#}
{#                    <span>Ноябрь 02, 2018</span>#}
{#                    <div class="clear"></div>#}
{#                    </li>#}
{##}
{##}
{#                    <li>#}
{#                    <div class="post-image">#}
{#                    <div class="post-mask"></div>#}
{#                    <img width="70" height="70" src="img/Timothy-J-Reynolds-2560x14401-70x70.jpg" class="attachment-post-widget #"  />                </div>#}
{##}
{#                    <h6><a href="#">РАЗРАБОТАТЬ СТАНОК</a></h6>#}
{#                    <span>Ноябрь 02, 2018</span>#}
{#                    <div class="clear"></div>#}
{#                    </li>#}
{##}
{##}
{#                    </ul>#}
   <!-- End Widget -->
<div class="clear"></div></div>
    <div class="clear"></div>
</div></div>        <!-- End Sidebar -->

    <div class="clear"></div>
    </div>
	<!-- End Main Container -->


    <!-- Start Footer -->
    <div class="spacing-30"></div>
    <div class="container zerogrid">
        <div id="footer-container" class="col-full">
        <div class="wrap-col">
            <!-- Footer Copyright -->
            <p>Copyrigh &copy; Cергеев Сергей</p>
            <!-- End Footer Copyright -->

            <!-- Footer Logo -->

            <!-- End Footer Logo -->

        <div class="clear"></div>
		</div>
        </div>
    </div>
    <!-- End Footer -->


</body>

</html>
