{#{% extends 'blog/base.html' %}#}
{##}
{#{% block content %}#}
{#    {% for post in posts %}#}
{#        <div class="post">#}
{#                 <div class="date">#}
{#                    <p>Опубликовано: {{ post.published_date }}</p>#}
{#                </div>#}
{#                <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>#}
{#                <p>{{ post.text|linebreaksbr }}</p>#}
{#        </div>#}
{#    {% endfor %}#}
{#{% endblock %}#}


<!DOCTYPE html lang="en-US">
{% load staticfiles %}
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Student Hunter</title>

<link rel='stylesheet' id='reset-css'   href="{% static 'css/reset.css' %}" type='text/css' media='all' />
<link rel='stylesheet' id='superfish-css'  href="{% static 'css/superfish.css' %}" type='text/css' media='all' />
<link rel='stylesheet' id='fontawsome-css'  href='css/font-awsome/css/font-awesome.css' type='text/css' media='all' />
<link rel='stylesheet' id='orbit-css-css'  href="{% static 'css/orbit.css' %}" type='text/css' media='all' />
<link rel='stylesheet' id='style-css'  href="{% static 'css/style.css' %}" type='text/css' media='all' />
<link rel='stylesheet' id='color-scheme-css'  href='css/color/green.css' type='text/css' media='all' />
<link rel="stylesheet" href="{% static 'css/zerogrid.css' %}" type="text/css" media="screen">
<link rel="stylesheet" href="{% static 'css/responsive.css' %}" type="text/css" media="screen">
{#    <link rel="stylesheet" href="{% static 'css/blog.css' %}">#}

<script type='text/javascript' src="{% static 'js/jquery.js' %}"></script>
<script type='text/javascript' src="{% static 'js/jquery-migrate.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/jquery.carouFredSel-6.2.1-packed.js' %}"></script>
<script type='text/javascript' src="{% static 'js/hoverIntent.js' %}"></script>
<script type='text/javascript' src="{% static 'js/superfish.js' %}"></script>
<script type='text/javascript' src="{% static 'js/orbit.min.js' %}"></script>
<script src="{% static "js/css3-mediaqueries.js" %}"></script>

<script type="text/javascript" language="javascript">
	$(function() {

		/* Start Carousel */
		$('#featured-posts').carouFredSel({
			auto: true,
					prev: '#prev2',
					next: '#next2',
		});
		/* End Carousel */


		/* Start Orbit Slider */
		$(window).load(function() {
			$('.post-gallery').orbit({
				animation: 'fade',
			});
		});
		/* End Orbit Slider */


		/* Start Super fish */
		jQuery(document).ready(function(){
			jQuery('ul.sf-menu').superfish({
				delay:         100,
				speed:         'fast',
				speedOut:      'fast',
			});
		});
		/* End Of Super fish */

	});
</script>
</head>

<body class="home blog">

	<!-- Start Header -->
    <div class="container zerogrid">
        <div class="col-full"><div class="wrap-col">
        	<div id="header-nav-container">

                    <a href="/">
                    <img src="{% static "images/logo.png" %}" id="logo" />
                    </a>

					<!-- Navigation Menu -->

	<ul class="sf-menu">
        <li class="menu-item"><a href="{% url 'emplist' %}">Компании</a></li>
        <li class="menu-item"><a href="{% url 'studlist' %}">Студенты</a></li>
	<li class="menu-item"><a href="{% url 'about' %}">Контакты</a></li>
<li class="menu-item"><a href="#">Профиль</a>
</li>
                    <!-- End Navigation Menu -->

                    <div class="clear"></div>

            </div>
			</div>
        </div>
    <div class="clear"></div>
    </div>
    <div class="spacing-30"></div>
    <!-- End Header -->

    <!-- Start Featured Carousel -->
{#    <div class="container zerogrid">#}
{#        <div class="list_carousel">#}
{#        <ul id="featured-posts">#}
{##}
{#                <li class="first carousel-item">#}
{#            <div class="post-margin">#}
{#                <h6><a href="#">Внутренняя оптимизация для сайта</a></h6>#}
{#                <span><i class="fa fa-clock-o"></i> December 13, 2013</span>#}
{#            </div>#}
{##}
{##}
{##}
{#            <div class="post-margin2">#}
{#                <p>Доделать внутреннюю оптимизацию сайта на битриксе. Посмотреть что уже реализовано и предложить доработки</p>#}
{#            </div>#}
{#        </li>#}
{#                <li class="first carousel-item">#}
{#            <div class="post-margin">#}
{#                <h6><a href="#">Нарисовать дизайн штендера для кофейни</a></h6>#}
{#                <span><i class="fa fa-clock-o"></i> December 13, 2013</span>#}
{#            </div>#}
{##}
{##}
{##}
{#            <div class="post-margin2">#}
{#                <p>Необходимо нарисовать модный и стильный кофейный стаканчик для штендера.  Штендер с подложкой фанеры.</p>#}
{#            </div>#}
{#        </li>#}
{#                <li class="last carousel-item">#}
{#            <div class="post-margin">#}
{#                <h6><a href="#">Разработать кромкооблицовочный станок</a></h6>#}
{#                <span><i class="fa fa-clock-o"></i> December 13, 2013</span>#}
{#            </div>#}
{##}
{##}
{##}
{#            <div class="post-margin2">#}
{#                <p>Имеется П образный гибкий профиль. Требуется с помощью оборудования наносить клей расплав на профиль. </p>#}
{#            </div>#}
{#        </li>#}
{#                <li class="first carousel-item">#}
{#            <div class="post-margin">#}
{#                <h6><a href="#">Перевести Планы здания в среду AutoCad</a></h6>#}
{#                <span><i class="fa fa-clock-o"></i> December 13, 2013</span>#}
{#            </div>#}
{##}
{##}
{##}
{#            <div class="post-margin2">#}
{#                <p>Необходимо перевести планы в формат AutoCad. Планы 3 этажей и подвала, а также чертеж придомовой территориий. </p>#}
{#            </div>#}
{#        </li>#}
{#                <li class="first carousel-item">#}
{#            <div class="post-margin">#}
{#                <h6><a href="#">Адаптивная верстка сайта интернет-магазина под битрикс</a></h6>#}
{#                <span><i class="fa fa-clock-o"></i> December 13, 2013</span>#}
{#            </div>#}
{##}
{##}
{##}
{#            <div class="post-margin2">#}
{#                <p>Требуется адаптивная верстка под ПК, смартфоны и прочие гаджеты. Страница должна быть легкой, понятной поисковикук. </p>#}
{#            </div>#}
{#        </li>#}
{#                <li class="last carousel-item">#}
{#            <div class="post-margin">#}
{#                <h6><a href="#">Настройка и тестирование analytics google </a></h6>#}
{#                <span><i class="fa fa-clock-o"></i> December 13, 2013</span>#}
{#            </div>#}
{##}
{##}
{##}
{#            <div class="post-margin2">#}
{#                <p>Нужно настроить основные моменты  какой заказ откуда пришёл + доп информация такая как конверсия-конверсии и тп.</p>#}
{#            </div>#}
{#        </li>#}
{##}
{#        </ul>#}
{##}
{#        <div class="clear"></div>#}
{##}
{#            <div class="carousel-controls">#}
{#                <a id="prev2" class="prev" href="#"><i class="fa fa-angle-left"></i></a>#}
{#                <a id="next2" class="next" href="#"><i class="fa fa-angle-right"></i></a>#}
{#              <div class="clear"></div>#}
{#            </div>#}
{#      </div>#}
{#    </div>#}
    <!-- Start Featured Carousel -->



    <!-- Start Main Container -->
    <div class="container zerogrid">

        <!-- Start Posts Container -->
        <div class="col-2-3" id="post-container">
 			<div class="wrap-col">



{% block content %}
    {% for post in posts %}
{#        <div class="post">#}
{#                 <div class="date">#}
{#                    <p>Опубликовано: {{ post.published_date }}</p>#}
{#                </div>#}
{#                <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>#}
{#                <p>{{ post.text|linebreaksbr }}</p>#}
{#        </div>#}


        <div class="post">
            	<div class="post-margin">

{#                <div class="post-avatar">#}
{#                    <div class="avatar-frame"></div>#}
{#                    <img alt='' src='http://1.gravatar.com/avatar/16afd22c8bf5c2398b206a76c9316a3c?s=70&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D70&amp;r=G' class='avatar avatar-70 photo' height='70' width='70' />                </div>#}

                <h4 class="post-title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h4>
                	<ul class="post-status">
                    <li><i class="fa fa-clock-o"></i>Опубликовано: {{ post.published_date }}</li>
                    <li><i class="fa fa-folder-open-o"></i><a href="#" rel="category">{{ post.get_excategory_display }}</a></li>
                    <li><i class="fa fa-comment-o"></i>Комментарии: {{ post.comments.count }}</li>
                    </ul>
                    <div class="clear"></div>
                </div>


            <div class="post-margin">
            <p>{{ post.text|linebreaksbr }}</p>
            </div>

            <ul class="post-social">
            <li>
            <a href="{% url 'post_detail' pk=post.pk %}" class="readmore">Узнать больше <i class="fa fa-arrow-circle-o-right"></i></a>
            </li>
            </ul>

            <div class="clear"></div>
            </div>
    {% endfor %}
{% endblock %}




        <!-- Start Pagination -->
            <div class="spacing-20"></div><ul class="pagination"><li class='current'><a href=''>1</a></li><li><a href=''>2</a></li><li><a href=''>3</a></li><li><a href=''>4</a></li></ul>
        <!-- End Pagination -->

        <div class="clear"></div>
		</div>
        </div>
        <!-- End Posts Container -->

        <!-- Start Sidebar -->
    	<div class="col-1-3">
		<div class="wrap-col">
	    	<div class="widget-container"><form role="search" method="get" id="searchform" class="searchform" action="">
				<div>
{#					<label class="screen-reader-text" for="s">Search for:</label>#}
{#					<input type="text" value="" name="s" id="s" />#}
{#					<input type="submit"  id="searchsubmit" value="Поиск" />#}
                    <button class="insert-button"><a href="{% url 'post_new' %}" class="add-button"> Добавить </a></button>
				</div>
			</form><div class="clear"></div></div><div class="widget-container"><h6 class="widget-title">Категории</h6>		<ul>
	<li class="cat-item cat-item-5"><a href="#" title="View all posts filed under Apps">Архитектура / интерьер</a>
</li>
	<li class="cat-item cat-item-3"><a href="#" title="View all posts filed under Illustration">Видео</a>
</li>
	<li class="cat-item cat-item-4"><a href="#" title="View all posts filed under Logo">Маркетинг и реклама</a>
</li>
<li class="cat-item cat-item-4"><a href="#" title="View all posts filed under Logo">Музыка / звук</a>
</li>
<li class="cat-item cat-item-4"><a href="#" title="View all posts filed under Logo">Дизайн</a>
</li>
<li class="cat-item cat-item-4"><a href="#" title="View all posts filed under Logo">IT и Программирование</a>
</li>
<li class="cat-item cat-item-4"><a href="#" title="View all posts filed under Logo">Фотография</a>
</li>
<li class="cat-item cat-item-4"><a href="#" title="View all posts filed under Logo">Инженерия</a>
</li>
<li class="cat-item cat-item-4"><a href="#" title="View all posts filed under Logo">Менеджмент</a>
</li>
		</ul>
<div class="clear"></div></div>



            <div class="widget-container"><h6 class="widget-title">Последние задачи</h6>	<!-- Start Widget -->
                <ul class="widget-recent-posts">

                {% block lastcontent %}
                    {% for post in posts %}
                        <li>
                            <h6><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h6>
                            <span>{{ post.published_date }}</span>
                            <div class="clear"></div>
                        </li>
                    {% endfor %}
                {% endblock %}



                </ul>
   <!-- End Widget -->
<div class="clear"></div></div>    <div class="clear"></div>
</div></div>        <!-- End Sidebar -->

    <div class="clear"></div>
    </div>
	<!-- End Main Container -->





    <!-- Start Footer -->
    <div class="spacing-30"></div>
    <div class="container zerogrid">
        <div id="footer-container" class="col-full">
        <div class="wrap-col">
            <!-- Footer Copyright -->
            <p>Copyrigh &copy; 2018 Сергеев Сергей.</p>
            <!-- End Footer Copyright -->

            <!-- Footer Logo -->

            <!-- End Footer Logo -->

        <div class="clear"></div>
		</div>
        </div>
    </div>
    <!-- End Footer -->


</body>

</html>
